.description{
    background-color: #fff;
    width: 96%;
    border-radius: 5px;
    padding: 10px 15px 20px 15px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, .3);
    text-align: left;
}

.about-title{
    width: 95%;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    margin: 20px 0px 20px 0px;
    border-bottom: 1px solid #b9b9b9;
}

.description p{
    margin-top: 5px;
    padding: 0px 0px 0px 10px;
}

.blog-comments{
    width: 100%;
}

.blog-comments-msg{
    margin-top: 20px;
    padding: 10px;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.blog-comment{
    width: 95%;
    background-color: #d9edf7;
    border: 1px dashed #7ca4c1;
    padding: 10px 10px 20px 10px;
    margin-top: 10px;
    color: #31708f;
    text-align: left;
}

.blog-comment span{
    display: inline-block;
    width: 100%;
    padding-left: 10px;
}

.blog-comment div{
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    margin-top: 10px;
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .content{
        width: 760px;
    }
    .content-right{
        display: none;
    }
}