.blog{
    background-color: #fff;
    width: 96%;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, .3);
    text-align: left;
}

.blog-title{
    font-size: 24px;
    font-weight: 600;
}

.blog-msg{
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.blog-content{
    padding: 0px 10px 20px 10px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}
img{
    max-width:100%;
    margin: 15px 0;
}

/* makdown编辑器样式 */
.editormd-toolbar{
    display: none !important;
}

.CodeMirror {
    display: none !important;
}

.editormd-preview{
    width: 100% !important;
}
.send-comments{
    background-color: #f5f5f5;
    width: 96%;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, .3);
    text-align: left;
    margin-top: 50px;
}

.send-comments input{
    width: 300px;
    height: 34px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.send-comments textarea{
    width: 90%;
    height: 100px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 5px;
}

.send-comments button{
    width: 100px;
    height: 30px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.send-comments button:hover{
    background-color: #ddd;
}

.send-comments button:active{
    background-color: #fdfdfd;
}

.blog-comments{
    width: 100%;
}

.blog-comments-msg{
    margin-top: 20px;
    padding: 10px;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.blog-comment{
    width: 95%;
    background-color: #d9edf7;
    border: 1px dashed #7ca4c1;
    padding: 10px 10px 20px 10px;
    margin-top: 10px;
    color: #31708f;
    text-align: left;
}

.blog-comment span{
    display: inline-block;
    width: 100%;
    padding-left: 10px;
}

.blog-comment div{
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    margin-top: 10px;
}