.evear-day{
    background-color: #fff;
    width: 96%;
    text-align: left;
    border-radius: 5px;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
}

.evear-day > span{
    display: inline-block;
    font-size: 12px;
    margin-bottom: 5px;
    color: slateblue;
}
.laba{
    font-size: 12px;
}

.article-list{
    width: 100%;
    border-radius: 5px;
    margin-top: 15px;
}
.article{
    background-color: #fff;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);
    overflow: hidden;
    text-align: left;
    margin-top: 15px;
}

.article-title{
    display: inline-block;
    font-size: 20px;
    color: #13102b;
    padding: 20px 10px 5px 10px;
}

.article-title:hover{
    color: #337ab7;
}

.article-content{
    font-size: 14px;
    color: #13102b;
    padding: 0px 10px 20px 10px;
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}

.article-foot{
    color: #eeeeee;
    background-color: #1f1f11;
    width: 100%;
    padding: 5px 15px;
    font-size: 14px;
}

@media screen and (max-width:768px){
    .article-list{
        margin-left: 8px;
    }
}